.topo{
    margin-top: 20px;
}

.bt{
    width: 100%;
}

.letra-titulo{
    font-weight: 600;
}

.title{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
.fm{
    font-weight: 600;
    font-size: 19px;
    padding-top: 2px!important;
    padding-bottom: 4px!important;
    background: #378fe7;
    color: #fff;
}
.btns{
    width: 130px;
}
.topo{
    margin-top: 12px;
}
.title-card{
    font-size: 16px;
}
.topo-template{
    margin-top: 70px;
}
.card-d{
    height: 125px;
}
.bt{
    width: 96%!important;
    display: block;
    margin: 0 auto;
}

.top{
   margin-top: 20px;
   
}

.linha {
    font-weight: 600;
}

.lista{
    list-style: none;
}

.card-text {
    width: 100%;
    display: block;
}
.titulo{
    border-bottom: 1px solid rgb(238, 238, 238); width: 100%;
    font-weight: 600;
    font-size: 22px;
    margin-top: 16px;
    color: #ccc;
    margin-bottom: 16px;

}