<div class="card topo">
  <div class="card-header letra-titulo">
    Busca Pokemon
  </div>
  <div class="card-body">
    <form class="form-row" style="margin-top: 12px;" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-8">

        <input type="text" formControlName="busca" class="form-control" placeholder="Nome do Pokemon">
        <span *ngIf="!busca.pristine && busca.errors">
          <span *ngIf="busca.errors.required" class="cor"> 
          Informe nome do Pokemon</span>
        </span>
      </div>
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary bt" [disabled]="!profileForm.valid">Busca</button>
      </div>
    </form>
  </div>
</div>

<div class="titulo" *ngIf="listResultBusca">Dados Pokemon</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-4 topo" *ngFor="let pokemon of listResultBusca">
    <div class="card" style="width: 100%; min-height: 300px;">
      <span>
        <img
          class="card-img-top img-fluid dados-img"
          src="{{ pokemon.imageUrl }}"
          alt=""
          
        />
      </span>
      <div class="card-body">
        <div class="card-d">
            <span class="card-text"><span class="linha">Nome: </span>{{ pokemon.name }}</span>

            <span class="card-text">
              <span class="linha">Id:</span> {{ pokemon.id }}
            </span>
  
            <span class="card-text">
              <span class="linha">Tipo:</span> {{ pokemon.types }}
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

