<div class="card topo">
    <div class="card-header letra-titulo">
      Busca Pokemon
    </div>
    <div class="card-body">
        <form class="form-row" style="margin-top: 12px;" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-md-8">
           
              <input type="text" 
                formControlName="busca"
                class="form-control" placeholder="Nome do Pokemon">
            </div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary bt" [disabled]="!profileForm.valid">Busca</button>
            </div>
          </form>

    </div>
  </div>