.top-m{
   
    background: rgb(63, 62, 62);
    color: #fff;
    
}
.cor{
    color:#fff;
}
.title{
    display: block;
    width: 100%;
    
}

.img-carta{
    width: 80%;
    padding-bottom: 18px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
}

.info{
    border-bottom: 1px solid rgb(228, 225, 225);
    font-weight: 700;
    font-size: 18px;
    width: 100%;
}
.title-ajuste{
    margin-top: 20px;
    
}

.ul-estilo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.titulo-lista{
    margin-top: 6px;
    width: 100%;
    display: block;
    font-weight: 600;
}

.li-title{
    font-weight: 600;
}

.topo-desc{
    margin-top: 6px;
}