.top-m{
   
    background: rgb(63, 62, 62);
    color: #fff;
    
}
.cor{
    color:#fff;
}
.title{
    display: block;
    width: 100%;
    
}

.ul-estilo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.titulo-lista{
    margin-top: 6px;
    width: 100%;
    display: block;
    font-weight: 600;
}

.li-title{
    font-weight: 600;
}